  
.card{
    height: 42rem;
    width: 22rem;
    float: left;
    margin:20px 20px 20px 20px;
    position: relative;

}
.card-image-top{
height:60px ;
width: 25px;
}
.back{
    background-color: black;
}